body {
    display: flex;
    height: 100%;
}


.divleft {
    background-color: #069;
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid black;
}



.divright {
    width: 174%;
}



h1 {
    text-transform: uppercase;
    font-size: 2.5em;
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
    height:auto;
	width: auto;
	background:#069;
    text-align: center;
    font-family: "Apple Chancery", cursive;
    color: #EAEFF0;
}



h2 {
    color: #EAEFF0;
    /*border-style : double; */
    text-decoration: underline; /* sert a souligner les h2 et h1 */
    font-style: italic;
    font-weight: bold;
    height:auto;
	width: 42%;
	background:#069;
    text-align: center;
    font-family: "Apple Chancery", cursive;
    border: 1px solid black;
    color: black;
    margin: 3% 26% 7%;
  /*margin-left: 200px;*/
}



.wrapper {
    margin: 0 auto;
    max-width: 2000px;
    min-width: 300px;
    width: 100%;
}


.adresse div {
  display: inline-block;
  vertical-align: middle;

}


.competences {
    display: flex;
    font-size: 1.2em;
    font-style: italic;
    font-weight: bold;
    margin: 6%;
    text-decoration: underline;
}


.h3competences {
    display: flex;
    font-size: 2em;
    text-decoration: underline;
}


/* barre de progression */
progress {
    background: black none repeat scroll 0 0;
    border: 1px solid black;
    border-radius: 14px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
    width: 10em;
}



progress::-moz-progress-bar {
   background: #EAEFF0;
   border-radius: 12px;
   box-shadow: inset 0 -2px 4px rgba(0,0,0,0.4),
               0 2px 5px 0px rgba(0,0,0,0.3);
}
/* fin de barre de progression */



.liprogress {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    padding-left: 1em;
}



.licompetences {
    display: flex;
    flex-flow: column;
    
}



.aside-left {
    display: flex;
}



.coordonnes {
    align-items: right;
    display: flex;
    flex-flow: column nowrap;
    font-family: arial,sans-serif;
    font-size: 20px;
    padding: 20px;
    padding-left: 0;
    padding-right: 44px;
    padding-top: 0;
}
    


.icone img{
  height: 20px;
  max-width: 100%;
  display: inline-block; /* pour l'image s'aligne sur le texte */
  vertical-align: middle; /* pour que l'image soit au milieu de la ligne */
}


.icone1 {
    padding: 33%;
}


.icone2 {
    padding: 34%;
}


.icone3 {
    margin-top: -12%;
    padding-bottom: 16%;
    padding-right: 34%;
}


.icone4 {
    padding-right: 34%;
}


.icone5 {
    padding-right: 30%;
    padding-top: 30%;
}



.policedeveloppeur {
  font-family: "Apple Chancery", cursive;
  font-size: 0.5em;
  color: #EAEFF0;
  display: block;
}



p {
  line-height: 10px;
  text-align: right;
}



header {
  text-align: center;
  font-size: 2em;
}/* css photo */



.image {
    border: 10px dashed black;
    border-radius: 20%;
    float: left;
    width: 94%;
}/* fin css photo */


.textCentral
{
    margin: 0 auto;
    text-align: center;
    width: 800px;
}


a:hover span, a:focus span /* hover quand tu passe le souris dessus et focus permet de cibler avec le clavier */{
  transform: scale(0.9) rotate(0);
  opacity: 0.9;
  box-shadow: 10px 10px 10px black;
}



a span {
  cursor: pointer; /* On change le curseur par défaut par un autre curseur. */
  color: black;
  background: #069;
  border: 2px solid black;
  font-style: italic;
  font-weight: bold;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px black; /* met de l'ombre sur la bulle */
  position: absolute;
  margin-top: 23px;
  margin-left: -35px;
  transform: scale(0) rotate(-12deg);
  transition: all .25s 0.10s;
  opacity: 0;
}



strong {
    font-weight: bolder;
}




body {
    background-color: #EAEFF0;
}



ul {
    margin: 10px;
    text-align: left;

    font-weight: 700;
}



ul li ul li /* les li qui sont dans les ul, des li, des ul */ {
    font-weight: 400;
    list-style-type: square; /* carré a gauche des phrases */
    padding-right: 15px;
}

#conteneur {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-style: italic;
    font-weight: bold;
}


footer {
    bottom: 0;
    left: 0;
    clear: both;
}