body {
    display: flex;
    height: 100%;
    background-color: #EAEFF0;
    flex-direction: row;
}



/**************************/    .divleft {           /********************************/
                                  background-color: #2A3C52;
                                  display: flex;
                                  flex-flow: column;
                                  border: 1px solid black;
                                  color: white;
                                  width: 25%;
                                  min-width: 360px;
                                  padding-left: 1%;
                                  padding-right: 2%;
                                }



h1 {
    text-transform: uppercase;
    font-size: 2.5em;
    font-style: italic;
    font-weight: bold;
    height:auto;
	  width: auto;
	  background:#2A3C52;
    text-align: center;
    color: #EAEFF0;
}

                                    /* css de ma photo photo */
.image {
    border: 10px double #EAEFF0;
    border-radius: 2em;
    width: 10em;
}


.pImage {
    display: grid;
    justify-content: center;
  }                               /* fin css de ma photo */


.policedeveloppeur {
  font-size: 0.5em;
  color: #EAEFF0;
  display: block;
}


#conteneurCitation {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    padding-bottom: 2em;
}



 .aside-left {
    display: flex;
    padding-top: 1em;
    border-top: 5px solid white;
}


.coordonnes {
    display: flex;
    flex-flow: column nowrap;
    font-family: arial,sans-serif;
    font-size: 20px;
}

.coordonnes1 {
    display: flex;
    justify-content: space-between;
}


.coordonnes2 {
    display: flex;
    justify-content: space-between;
}


.coordonnes3 {
    display: flex;
    justify-content: space-between;
}


.coordonnes4 {
    display: flex;
    justify-content: space-between;
}


.coordonnes5 {
    display: flex;
    justify-content: space-between;
}


.icone img{
  height: 20px;
}

.icone {
  padding-left: 2em;
}


.h3competences {
    display: flex;
    font-size: 2em;
    padding-left: 2em;
    border-top: 5px solid white;
    padding-top: 1em;
}


.liprogress {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    padding-left: 1em;
}


.competences {
    display: flex;
    font-size: 1.2em;
}


                                /* barre de progression */
progress {
    background: black none repeat scroll 0 0;
    border: 1px solid black;
    border-radius: 14px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
    width: 8em;
}



progress::-moz-progress-bar {
   background: olivedrab;
   border-radius: 12px;
   box-shadow: inset 0 -2px 4px rgba(0,0,0,0.4),
               0 2px 5px 0px rgba(0,0,0,0.3);
}
                            /* fin de barre de progression */



/*.icone1 {
    padding: 33%;
}


.icone2 {
    padding: 34%;
}


.icone3 {
    margin-top: 55%;
    padding-bottom: 44%;
    padding-right: 34%;
}


.icone4 {
    padding-right: 34%;
}


.icone5 {
    padding-right: 30%;
    padding-top: 41%;
}*/

                    /**************************/    .divright {           /*********************************/
                                                      width: 100%;
                                                    }


/*-----------------------Experience professionelle--------------------------------------------*/

.textCentral1 {
    display: flex;
}


.ulprojet{

}



.pProjet {
  font-weight: bold;
}



.projet1{
   flex-flow: row;
}


.projet2 {

}


.projet3 {

}


.projet4 {

}


.projet5 {
    padding-top: 14em;
}


/*--------------------------FIN Experience professionelle--------------------------------*/


.blockright {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  width: 50%;
}


.sectionRight {
  width: 100%;
  display: flex;
}



.textCentral1, .textCentral2, .textCentral3, .textCentral4 {
    margin: 0 auto;
    text-align: justify;
    letter-spacing: 0.3px;
    display: flex;
}


h2 {
    /*border-style : double; */
    font-style: italic;
    font-weight: bold;
    height: auto;
	  width: 18em;
	  background:#2A3C52;
    text-align: center;
    border: 1px solid black;
    color: #EAEFF0;
    align-self: center;
}



.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}




                /*--------------------------GENERAL---------------------------------*/



/* tous les liens */
a {
    color: olivedrab;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
}



a:hover span, a:focus span /* hover quand tu passe le souris dessus et focus permet de cibler avec le clavier */{
  transform: scale(0.9) rotate(0);
  opacity: 0.9;
  box-shadow: 10px 10px 10px black;
}



a span {
  cursor: pointer; /* On change le curseur par défaut par un autre curseur. */
  color: black;
  background: #069;
  border: 2px solid black;
  font-style: italic;
  font-weight: bold;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px black; /* met de l'ombre sur la bulle */
  position: absolute;
  margin-top: 23px;
  margin-left: -35px;
  transform: scale(0) rotate(-12deg);
  transition: all .25s 0.10s;
  opacity: 0;
}
                                /* fin tous les liens */



ul {
    margin: 10px;
    text-align: left;
}



.progress-bar {
    width: 300px;
    height: 24px;
    padding: 4px;
    background-color: #191919;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
    -webkit-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
    -moz-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
}

progress-bar:before {
    content: '';
    display: block;
    position: absolute;
    width: 200px;
    height: 24px;
    background: #999;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
}


footer {
  text-align: center;
}


                      /******************** RESPONSIVE ************************/


                      @media screen and (max-width: 800px){
                           body{
                             flex-direction: column;
                           }
                          .divright{
                            display: flex;
                            flex-direction: column;
                            flex-wrap: wrap;
                            width: 100%;
                          }
                          .blockright {
                            width: 80%;
                          }
                          .divleft {
                            width: auto;
                            align-items: center;
                            display: flex;
                          }
                        }
